article/*
!article/*.cls
!article/*.bib
!article/*.tex
!article/*.sty
!article/article_push.pdf

rapport/*
!rapport/*.cls
!rapport/*.bib
!rapport/*.tex
!rapport/*.sty
!rapport/rapport_push.pdf

soutenance/*
!soutenance/*.tex
!soutenance/*.png
!soutenance/*.pdf
!soutenance/_minted-presentation/*
!soutenance/*.jpeg

__pycache__
